/* تعریف فونت وزیر */
@font-face {
    font-family: 'Vazir';
    src: url('fonts/Vazirmatn-RD-Bold.woff2') format('woff2'),
         url('Vazirmatn-RD-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}